<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://f-dotnet-durable-consumption.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/99c0b5be-8a5d-468f-bd36-261b19b1db99/resourceGroups/APP/providers/Microsoft.Web/sites/F-DOTNET-DURABLE-CONSUMPTION</ResourceId>
    <UserName>$F-DOTNET-DURABLE-CONSUMPTION</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://f-dotnet-durable-consumption.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>